!!! XML
!!!
%html{html_attrs}
  %head
    %title Ujumbe
    = stylesheet_link_tag 'reset', 'screen', :cache => true

  %body
    #header
      %h1= link_to_unless_current 'Ujumbe', root_path

    #content
      = yield

    #footer
      %ul#locales
        - other_locales.each do |locale, locale_name|
          %li= link_to locale_name, params.merge(:locale => locale), :method => (request.get? ? nil : request.method)
