body
  background-color: #222
  font-family: sans-serif

#header
  background-color: #222
  color: #eee
  padding: 1.5em

  h1
    font-size: 2em

    a
      color: #eee
      text-decoration: none

=rounded-corner-box
  border-radius: 1.5em
  -moz-border-radius: 1.5em
  -webkit-border-radius: 1.5em
  margin-bottom: 0.75em
  padding: 1.5em

#content
  background-color: #666
  padding: 1.5em

  #flash
    .notice
      +rounded-corner-box
      background-color: #ded
      color: #000

    .error
      +rounded-corner-box
      background-color: #edd
      color: #000

  form
    +rounded-corner-box
    background-color: #ddd
    color: #000

    h2
      font-size: 1.5em
      margin-bottom: 0.75em

    .field
      margin-bottom: 0.75em

      label
        color: #444
        display: block

        .formError
          color: #000
          display: inline

      input
        font-size: 1.25em

      .fieldWithErrors
        display: inline

    .submit
      input
        font-size: 1.25em

#footer
  background-color: #111
  color: #666
  padding: 0.75em 1.5em

  a
    color: #999
    text-decoration: none

  ul#locales
    text-align: right

    li
      display: inline