.account
  %h2= t('.balance', :balance => money(@account.balance))

  = render 'payments/form'

  - if @account.entries.any?
    %table.entries
      %caption= t('.entries.caption')
      = render @account.entries.last(10)
